body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  font-size: 32px;
  font-weight: 900;
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px;
  font-size: 24px;
  text-decoration: none;
  flex-shrink: 0;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  display: flex;
  flex-shrink: 1;
  width: 300px;
  background-color: palevioletred;
  padding: 16px;
}
li {
  color: white;
  text-decoration: none;
  margin-bottom: 16px;
}
.container {
  display: flex;
  flex: 1;
}

.container-2 {
  display: flex;
  flex: 1;
  background-color: aquamarine;
  flex-wrap: wrap;
  padding: 20px;
  gap: 15px;
  justify-content: center;
}

a {
  color: #eee;
  text-decoration: none;
}